{
  "env": {
    "es6": true,
    "node": true,
    "browser": true
  },
  "parser": "@typescript-eslint/parser",
  "extends": [
    "airbnb-base",
    "plugin:@typescript-eslint/recommended",
    "plugin:svelte/recommended"
  ],
  "overrides": [{
    "files": ["*.svelte", "**/*.svelte"],
    "parser": "svelte-eslint-parser",
    "parserOptions": {
      "sourceType": "module",
      "ecmaVersion": 2021,
      "parser": {
        "ts": "@typescript-eslint/parser",
        "js": "espree",
        "typescript": "@typescript-eslint/parser"
      }
    },
    "rules": {
      "no-return-assign": "off"
    }
  }],
  "plugins": [
    "@typescript-eslint",
    "import"
  ],
  "rules": {
    "max-len": "off",
    "import/no-mutable-exports": "off",
    "no-unused-expressions": "off",
    "import/prefer-default-export": "off",
    "import/no-extraneous-dependencies": "off",
    "import/extensions": "off",
    "import/no-unresolved": "off",
    "import/order": [
      "error",
      {
        "newlines-between": "always",
        "alphabetize": { "order": "asc", "caseInsensitive": true }
      }
    ],
    "object-curly-newline": ["error", {
      "ImportDeclaration": { "multiline": true },
      "ExportDeclaration": { "multiline": true }
    }],
    "no-underscore-dangle": "off",
    "no-param-reassign": "off",
    "@typescript-eslint/no-explicit-any": "off",
    "@typescript-eslint/no-empty-function": "off",
    "no-restricted-syntax": "off",
    "no-await-in-loop": "off",
    "class-methods-use-this": "off",
    "no-continue": "off",
    "no-use-before-define": "off",
    "prefer-destructuring": "off",
    "no-plusplus": "off",
    "no-bitwise": "off",
    "import/no-relative-packages": "off",
    "guard-for-in": "off",
    "@typescript-eslint/type-annotation-spacing": "error",
    "brace-style": "off"
  }
}