.app-footer {
  flex-shrink: 0;
  width: 100%;
  padding: 20px 0;
  color: #8f9094;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  .app-footer-item {
    padding-bottom: 3px;
  }

  a {
    color: #8f9094 !important;
  }

  .version-update {
    position: relative;

    &::after {
      content: '*';
      color: #F56C6C;
    }
  }
}
