.app-action-wrap {
  width: 450px;
  display: flex;
  flex-wrap: nowrap;
  margin-bottom: 20px;
  flex-shrink: 0;

  .app-action-right-wrap,
  .app-action-left-wrap {
    flex: 2 0 100px;

    .open-file-line {
      cursor: pointer;

      &:hover {
        font-weight: bold;
        text-decoration: underline;
      }
    }

    .size-input {
      border: none;
      padding: 0;
      display: inline-block;
      width: 50px;
      outline: none;
      border: none;
      background: none;
      box-sizing: border-box;
      touch-action: manipulation;

      &::-webkit-inner-spin-button,
      &::-webkit-outer-spin-button {
        -webkit-appearance: none;
        appearance: none;
        margin: 0;
      }
    }

    .bg-rate-input {
      background-color: transparent;
      background-image: none;
      border-radius: 4px;
      border: 1px solid #cacdd4;
      box-sizing: border-box;
      display: inline-block;
      font-size: inherit;
      height: 20px;
      width: 90px;
      outline: none;
      padding: 0 4px;
      text-align: center;
    }
  }

  .app-action-left-wrap {
    .output-setting {
      padding: 0 4px;
      display: inline-block;
      cursor: pointer;
  
      &:hover {
        color: var(--active-color);
        font-weight: bold;
      }
    }
  }
}
