.app-header {
  display: flex;
  background-color: transparent;
  justify-content: space-between;
  -webkit-app-region: drag;
  padding: 10px;
  padding-bottom: 20px;
  text-align: right;

  .no-drag {
    -webkit-app-region: no-drag;
  }

  .app-header-right {
    display: flex;
    align-items: center;
  }

  .app-header-close {
    padding: 7px 12px !important;
    cursor: pointer;
  }

  .app-header-show {
    padding: 8px 12px !important;
    cursor: pointer;
  }

  .app-header-reset {
    padding: 7px 6px !important;
    margin-left: 10px !important;

    .icon {
      display: inline-block;
    }
  }

  .app-header-button {
    display: inline-block;
    width: 32px;
    height: 32px;
    text-align: center;
  }

  .app-header-star {
    padding: 0 0 !important;
    line-height: 32px;
  }
}

.star-popover {
  left: 10px !important;

  .popper__arrow {
    left: 8px !important;
  }
}

.app-header-star-content {
  .star-item {
    padding: 10px 0;
    text-align: center;
    display: block;
    margin-left: 0;

    &:first-child {
      margin-top: 0;
    }

    &:nth-child(n) {
      margin-top: 10px;
    }

    .zanshang {
      width: 250px;
    }
  }

  .group-chat {
    user-select: text;

    &::selection {
      background-color: var(--active-color);
      color: var(--bg-color);
    }
  }
}