.custom-param-dialog {
  footer {
    margin-top: 20px;
    text-align: right;

    .button {
      padding: 5px 20px;
    }
  }

  .form-item {
    padding: 8px 0;

    .form-item-label {
      height: 35px;
      font-weight: bold;
      opacity: .8;
      display: flex;
      align-items: center;

      label {
        display: inline-block;
        height: 20px;
        width: 20px;
        margin-left: 10px;
      }
    }

    .db-icon-upload {
      font-size: 20px;
      cursor: pointer;
      font-weight: bold;
    }

    .form-item-img {
      height: 12px;
    }
  }

  .img-wrap {
    display: flex;
    align-items: center;

    .form-item {
      flex: 1;
    }
  }
}