.header {
  -webkit-app-region: drag;
  padding: 10px;
  text-align: right;

  .close {
    -webkit-app-region: no-drag;
    padding: 4px 12px;
    cursor: pointer;
  }

  .show {
    -webkit-app-region: no-drag;
    padding: 4px 12px;
    cursor: pointer;
  }
}

.grass {
  box-shadow: var(--blackShadow), var(--whiteShadow);
}

.grass-unset {
  box-shadow: unset var(--blackShadow), unset var(--whiteShadow);
}

.button {
  padding: 10px 20px;
  border-radius: 8px;
  display: inline-block;
  cursor: pointer;
  user-select: none;
  font-size: 14px;

  &:hover {
    box-shadow: inset var(--blackShadow), inset var(--whiteShadow);
  }

  &:active {
    box-shadow: var(--blackShadow), var(--whiteShadow);
  }

  &:nth-child(n) {
    margin-left: 10px;
  }
}

#root {
  width: 100vw;
  height: 100vh;
  background-position: center center;
  background-size: 100% 100%;
  padding: 0 20px 20px;
  font-size: 14px;
  box-sizing: border-box;

  .hide {
    display: none;
  }

  .wrap {
    display: flex;
    flex-wrap: nowrap;
    margin-bottom: 20px;
  }

  .right-wrap,
  .left-wrap {
    flex: 1 0 100px;

    .action-item {
      padding: 2px 0;
    }

    .config-title {
      display: inline-block;
      width: 76px;
      font-weight: bold;
      text-align: right;
    }

    .config-value {
      padding-left: 2px;
      font-size: 13px;
    }

    .open-file-line {
      cursor: pointer;

      &:hover {
        font-weight: bold;
        text-decoration: underline;
      }
    }

    .size-input {
      border: none;
      padding: 0;
      display: inline-block;
      width: 50px;
      outline: none;
      border: none;
      background: none;
      box-sizing: border-box;
      touch-action: manipulation;

      &::-webkit-inner-spin-button,
      &::-webkit-outer-spin-button {
        -webkit-appearance: none;
        appearance: none;
        margin: 0;
      }
    }

    .bg-rate-input {
      background-color: transparent;
      background-image: none;
      border-radius: 4px;
      border: 1px solid #cacdd4;
      box-sizing: border-box;
      display: inline-block;
      font-size: inherit;
      height: 20px;
      width: 40px;
      outline: none;
      padding: 0 4px;
      text-align: center;
    }
  }

  .button-wrap {
    margin-top: 40px;
    text-align: center;
    user-select: none;
  }

  .db-switch.is-checked .db-switch__core {
    background-color: var(--active-color);
    border-color: transparent;
  }
}
