.no-drag {
  -webkit-app-region: no-drag;
}

#root {
  width: 100vw;
  height: calc(100vh - 62px);
  background-position: center center;
  background-size: 100% 100%;
  padding: 0 20px;
  font-size: 14px;
  box-sizing: border-box;
  position: relative;
  display: flex;
  flex-direction: column;

  .hide {
    display: none;
  }

  .body {
    margin-top: 20px;
    flex: 1;
  }

  .content {
    height: 380px;
    display: flex;
  }

  .info-wrap {
    width: 100%;
    background-color: aqua;
  }

  .button-wrap {
    margin-top: 20px;
    text-align: center;
    user-select: none;
  }
}

.left-wrap {
  .output-setting {
    padding: 0 4px;
    display: inline-block;
    cursor: pointer;

    &:hover {
      color: var(--active-color);
      font-weight: bold;
    }
  }
}

.guide {
  position: fixed;
  top: 36px;
  left: 20px;
  font-weight: bold;
  color: #8f9094;

  i {
    margin-bottom: -14px;
    display: inline-block;
    width: 50px;
    height: 40px;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center center;
  }
}

.desc {
  position: fixed;
  top: 60px;
  left: 106px;
  font-weight: bold;
  color: #8f9094;

  i {
    margin-bottom: -24px;
    display: inline-block;
    width: 50px;
    height: 40px;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center center;
    transform: rotateX(180deg);
  }
}
