.no-drag {
  -webkit-app-region: no-drag;
}

#root {
  width: 100vw;
  height: calc(100vh - 62px);
  background-position: center center;
  background-size: 100% 100%;
  padding: 0 20px;
  font-size: 14px;
  box-sizing: border-box;
  position: relative;
  display: flex;
  flex-direction: column;

  .hide {
    display: none;
  }

  .body {
    flex: 1;
  }

  .content {
    height: 340px;
    display: flex;
  }

  .info-wrap {
    width: 100%;
    background-color: aqua;
  }

  .button-wrap {
    margin-top: 20px;
    text-align: center;
    user-select: none;
  }
}

.left-wrap {
  .output-setting {
    padding: 0 4px;
    display: inline-block;
    cursor: pointer;

    &:hover {
      color: var(--active-color);
      font-weight: bold;
    }
  }
}

