name: Build Release
on:
  repository_dispatch:
  workflow_dispatch:
    inputs:
      ssh:
        description: "SSH connection to Actions"
        required: false
        default: "false"

jobs:
  build:
    name: windows-latest
    runs-on: windows-latest
    permissions:
      contents: write
      packages: write

    steps:
      - name: Node
        uses: actions/setup-node@v2
        with:
          node-version: 18

      - name: 拉取自身仓库代码
        uses: actions/checkout@main

      - name: 安装依赖
        run: |
          yarn
      
      - name: 构建 ${{ runner.arch }}
        run: |
          yarn make
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
