:root {
  --text-color: #081E3D;
  --active-border-color: #13325eca;
  --active-color: #13325eba;
  --whiteShadow: 4px 4px 8px rgba(196, 199, 207, .8);
  --blackShadow: -4px -4px 8px rgba(255, 255, 255, .8);
  --bg-color: #E7EAF3;
}

* {
  padding: 0;
  margin: 0;
  user-select: none;
}

.grass {
  box-shadow: var(--blackShadow), var(--whiteShadow);
}

.grass-unset {
  box-shadow: unset var(--blackShadow), unset var(--whiteShadow);
}

html, body {
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  background-color: var(--bg-color);
  color: var(--text-color);
}
