:root {
  --text-color: #081E3D;
  --text-color-1: rgba(16, 33, 55, 0.75);
  --active-border-color: #13325eca;
  --active-color: #13325eba;
  --whiteShadow: 4px 4px 8px rgba(196, 199, 207, .8);
  --blackShadow: -4px -4px 8px rgba(255, 255, 255, .8);
  --bg-color: #E7EAF3;
}

* {
  padding: 0;
  margin: 0;
  user-select: none;
}

html, body {
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  background-color: var(--bg-color);
  color: var(--text-color);
}

body {
  .db-drawer {
    background-color: var(--bg-color);
  }
  
  .db-switch {
    &.is-checked {
      .db-switch__core {
        background-color: var(--active-color);
        border-color: transparent;
      }
    }
  
    .db-switch__label {
      color: var(--active-color);
  
      &.is-active {
        color: var(--text-color);
      }
    }
  }

  .db-input{
    .db-input__inner {
      box-shadow: var(--blackShadow), var(--whiteShadow);
      background-color: var(--bg-color);
      color: var(--text-color-1);
      border: none;
    }

    &.is-active .db-input__inner,
    .db-input__inner:focus {
      border-color: var(--text-color);
    }
  }

  .db-dialog {
    background-color: var(--bg-color);

    .db-dialog__title {
      color: var(--text-color);
    }
  }

  .grass {
    box-shadow: var(--blackShadow), var(--whiteShadow);
  }
  
  .grass-unset {
    box-shadow: unset var(--blackShadow), unset var(--whiteShadow);
  }
}

.normal-input {
  box-shadow: var(--blackShadow), var(--whiteShadow);
  background-color: transparent;
  background-image: none;
  border: none;
  box-sizing: border-box;
  display: inline-block;
  font-size: inherit;
  outline: none;
  padding: 0 15px;
  height: 40px;
  line-height: 40px;
  border-radius: 4px;
  width: 100%;

  &[type='file'] {
    background: unset;
    border-color: inherit;
    border-width: 0;
    border-radius: 4px;
    padding: 0;
    font-size: unset;
    line-height: 40px;
    cursor: pointer;

    &:focus {
      outline: none;
    }
  }
}
